@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color:rgb(120, 10, 109);
    color:white;
    height:65px;
    font-size:27px;
    display:flex;
    align-items:center;
    padding:0 12px;
    font-family: "Roboto", sans-serif;
}
nav ul{
    list-style-type: none;
}
.gameContainer{
    
    display:flex;
    justify-content: center;
    margin-top: 50px;

}
.container{
display:grid;
grid-template-rows: repeat(3,10vw);
grid-template-columns: repeat(3,10vw);
font-family: "Roboto", sans-serif;
}
.box{
    border: 2px solid black;
    font-size:8vw;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(232, 189, 203);
}
.gameInfo{
    padding:0 34px;
    font-family: "Lato", sans-serif;
}
.info{
    font-size:22px;
}
.imgbox img{
    width:0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right:0;
}
.bl-0{
    border-left:0;
}
.bt-0{
    border-top:0;
}
.bb-0{
    border-bottom:0;
}
#reset{
    margin: 0 23px;
    padding: 6px 14px;
    background-color: rgb(221, 187, 254);
    border-radius:6px;
    cursor:pointer;

}
@media screen and (max-width: 950px) {
    .gameContainer{
        flex-wrap:wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .container{
        grid-template-rows:repeat(3,20vw);
        grid-template-columns:repeat(3,20vw);
    }
}
